/* General styles */
body {
    font-family: Karla;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* width: 100%; */
}

html {
    scroll-behavior: smooth;
}

/*Bg Image*/
header,
#About,
#Skill,
#Project,
#Bootcamp {
    background-image: url(./Images/BgImage.jpg);

}

/* Header styles */
header {
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
    height: 3.5rem;
}

.logo {
    border-radius: 1rem;
    height: 3rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    word-wrap: break-word;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 10px white;
    border-radius: 10px 0px 10px 0px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/* Main styles */
.container {
    margin-top: 0rem;
}

/* Home section styles */
.home_section {
    text-align: center;
}

#Home {
    margin-top: 0rem;
    background-image: url(./Images/portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aqua;
}

.p1,
.p2,
.p3 {
    font-family: 'Rubik Glitch Pop';
    font-size: 3rem;
    margin: 3rem;
}

.p2 {
    color: #25D366;
}

.p3 {
    color: #0372e0;
}

/* About section styles */
#About {
    height: 15rem;
}

#About h2,
#Skill h2,
#Project h2,
#Bootcamp h2 {
    text-align: center;
    margin: 0.2rem 0rem 0rem 0rem;
    text-decoration: underline;
}

.about_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0rem 3rem 0rem 3rem;
}

.about_section img {
    height: 12rem;
    max-width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.about_section p {
    background-color: white;
    padding: 1rem;
    border: 1px solid black;
    line-height: 1.5rem;
}

/* Skill section styles */
#Skill {
    height: 25rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.skills__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills img {
    width: 50%;
}

/* Project section styles */
.Project_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.Project_section_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.Project_section_card img {
    width: 15rem;
    height: 8rem;
}

.Project_section_card p {
    margin: 0rem;
}

.Project_section_card h3 {
    margin-bottom: 0rem;
}

/* Bootcamp section styles */
.Bootcamp_sectioin_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem;
}

.Bootcamp_sectioin_card img {
    width: 50%;
}

.Bootcamp_sectioin_card .zuvy-image {
    height: 12rem;
    float: right;
}

hr {
    display: grid;
    width: 50rem;
    border-color: black;
}

.Bootcamp_sectioin {
    padding: 1rem;
}

/* Contact section styles */
#Contact {
    background-color: black;
    opacity: 0.8;
    color: white;
}

form {
    padding-top: 2.5rem;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.contact_main_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
    gap: 2rem;
}

.contact_section1 {
    width: 45rem;
}

.contact_section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
}

form>div {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, -50%);
    background-color: cornflowerblue;
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
}

form>div>img {
    filter: invert(1);
    width: 40px;
}

form>input,
form>textarea {
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #ccc;
    color: #ddd;
    background-color: white;
    border-radius: 4px;
    display: block;
    width: 40rem;
}

form>textarea {
    height: 5rem;
    resize: none;
}

form>input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
}

form>input[type="submit"]:hover {
    background-color: #555;
}

.contact-info {
    width: 100%;
}

.contact-info-content p,
.contact-info-icon i,
.contact-info h1 {
    color: white;
}

.contact-info h1 {
    text-align: center;
    text-decoration: underline;
}

.contact-info-item {
    display: flex;
}

.contact-info-icon {
    text-align: center;
}

.contact-info-icon i {
    font-size: 1.5rem;
    line-height: 1rem;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
    margin: 0rem;
}

.contact-info-content p {
    font-size: 1.2em;
    margin-top: 0rem;
    margin-left: 2rem;
}

.MyCV {
    border-radius: 0rem 1rem 0rem 1rem;
    border: none;
    margin: 0rem 1rem 0rem 0rem;
}

.MyCV>a {
    color: black;
    text-align: center;
}

.MyCV:hover {
    border-radius: 0rem 0rem 0rem 0rem;
    background-color: red;
}

.MyCV>a:hover {
    color: white;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 1s ease;
}

.social-icons>a:hover {
    transform: rotate(360deg);
}

.social-icons {
    float: right;
}

.fa-github {
    color: white;
}

.fa-whatsapp {
    color: #25D366;
    transition: scale(1.3);
}

.social-icons .fa-linkedin {
    color: #0372e0;
}

.fa-instagram-square {
    background: linear-gradient(to right, #f9ce34, #ff00cc, #3333cc);
    -webkit-background-clip: text;
    color: transparent;
}

/* Footer styles */
#back-top {
    height: 3rem;
    background-color: black;
    opacity: .9;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
}

#back-top p {
    margin: 0px;
}

#back-top button {
    border-radius: 0px 10px 0px 10px;
    padding: 0.5rem;
    font-size: 1rem;
}

#back-top button a {
    text-decoration: none;
}

#back-top>button:hover {
    transition: scale(1.3);
    cursor: pointer;
}

#back-top .fa-whatsapp {
    font-size: 28px;
}